<script id="songTemplate" type="text/x-jQuery-tmpl">
  <tr class="song-row" data-id="${id}">
      <td class="rank">1</td>
      <td class="votes">
          <div class="up-vote" up-votes="235">
            235
          </div>
          <div class="down-vote" down-votes="123">
            123
          </div>
      </td>
      <td class="vote-buttons">
          <div class="up">
            <a href="#" class="up-button">up</a>
          </div>
          <div class="down">
            <a href="#" class="down-button">down</a>
          </div>
      </td>
      <td class="title"><a href="${link}">${title}</a></td>
      <td class="artist">${artist}</td>
      <td class="album">${album}</td>
  </tr>
</script>