<script id="songTemplate" type="text/x-jQuery-tmpl">
  <div class="song-row">
    <div class="rank">1</div>
    <div class="votes">
      <div class="up-vote">

      </div>
      <div class="down-vote">

      </div>
    </div>
    <div class="vote-buttons">
      <div class="up">
        <a href="#" class="up-button">up</a>
      </div>
      <div class="down">
        <a href="#" class="down-button">down</a>
      </div>
    </div>
    <div class="song-detail">
      <h2><a href="${link}">${title}</a></h2>
      <h3>${artist}</h3>
      <h3>${album}</h3>
    </div>
  </div>
</script>