<script id="songTemplate" type="text/x-jQuery-tmpl">
  <tr class="song-row" data-id="${id}">
      <td class="rank">1</td>
      <td class="votes">
          <div class="up-vote">
            235
          </div>
          <div class="down-vote">
            123
          </div>
      </td>
      <td class="vote-buttons">
          <div class="up">
            <a href="#" class="up-button">up</a>
          </div>
          <div class="down">
            <a href="#" class="down-button">down</a>
          </div>
      </td>
      <td class="title"><a href="${link}">${title}</a></td>
      <td class="artist">${artist}</td>
      <td class="album">${album}</td>
  </tr>
  <!--<div class="song-row" data-id="${id}">-->
    <!--<div class="rank">1</div>-->
    <!--<div class="votes">-->
      <!--<div class="up-vote">-->
            <!--235-->
      <!--</div>-->
      <!--<div class="down-vote">-->
            <!--123-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="vote-buttons">-->
      <!--<div class="up">-->
        <!--<a href="#" class="up-button">up</a>-->
      <!--</div>-->
      <!--<div class="down">-->
        <!--<a href="#" class="down-button">down</a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="song-details">-->
      <!--<h2><a href="${link}">${title}</a></h2>-->
      <!--<h3>${artist}</h3>-->
      <!--<h3>${album}</h3>-->
    <!--</div>-->
  <!--</div>-->
</script>