<script id="songTemplate" type="text/x-jQuery-tmpl">
  <tr class="song-row" data-id="${id}" rank="0">
      <td class="rank"></td>
      <td class="votes">
          <div class="up-vote" up-votes="0">
          </div>
          <div class="down-vote" down-votes="0">
          </div>
      </td>
      <td class="vote-buttons">
            <a href="#" class="up-button"><img src=<%=image_path('up_grey.png') %> class="up-img" /></a>
            <a href="#" class="down-button"><img src=<%=image_path('down_grey.png') %> class="down-img" /></a>
      </td>
      <td class="title"><a href="${link}" target="_blank">${title}</a></td>
      <td class="artist">${artist}</td>
      <td class="album">${album}</td>
  </tr>
</script>