<%= javascript_include_tag "home" %>
<%= render :partial => 'templates/song_row_template' %>
<table id="songs" cellspacing="0" cellpadding="0">
  <tr class="song-head">
    <th>Rank</th>
    <th>Votes</th>
    <th>Your Vote</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
</table>