body {
    background-color: #F4F4F4;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    padding: 0px;
    margin: 0px;
}

#header {
    padding: 10px;
    background-color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: #FFFFFF;
    line-height: 1.28;
}

#songs{
    width: 100%;
    border: none;
}

.song-row{
    padding: 10px;
    height: 60px;
    background-color: #FFFFFF;
}

.song-head{
    border: 1px solid #C4CDE0;
    -webkit-border-radius: 0 0 2px 2px;
    background-color: #dbdbdb;
    color: #000000;
}

.song-row td{
    border-bottom: 1px solid #C4CDE0;
    -webkit-border-radius: 0 0 2px 2px;
    text-align: center;
}

.rank {
    line-height: 50px;
    width: 10%;
    color: #8897BD;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.votes {
    width: 2%;
    color: #94A0C1;
    font-weight: normal;
    font-size: 14px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.vote-buttons{
    width: 8%;
}

.vote-buttons img{
    width: 30px;
    height: 32px;
}

.title {
    width: 40%;
}

.title a{
    font-weight: bold;
    color: #3B5998;
    font-size: 13px;
}

.song-details{
    width: 80%;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
}

.artist, .album {
    color: gray;
    font-weight: normal;
    font-size: 13px;
    width: 20%;
}