body {
    background-color: #EEE;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    padding: 0px;
    margin: 0px;
}

#songs{
    width: 100%;
}

.song-row{
    padding: 10px;
    height: 60px;
    border-top: 1px #DDD solid;
}

.grey-row {
    background-color: #E7EBF2;
}

.white-row {
    background-color: #FFF;
}

.rank {
    margin-left: 20px;
    line-height: 50px;
    width: 10%;
}

.votes {
    width: 10%;
}

.vote-buttons{
    width: 10%;
}

.title a{
    font-weight: bold;
    color: #3B5998;
    font-size: 13px;
    width: 30%;
}

.song-details{
    width: 70%;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
}

.artist, .album {
    color: gray;
    font-weight: normal;
    font-size: 13px;
    width: 20%;
}